.categories-container button {
    border: none;
    background-color: #FAFAFA;
    color: #3A4895;
    font-size: 20px;
    text-transform: capitalize;
}

.categories-container{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px -50px 0px;
}