*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 20px 40px;
    background-color: #FAFAFA;
    position: relative;
}

.logo{
    color: #3A4895;
    font-size: 24px;
    font-weight: 700;
}

.cart-number{
    color: white;
    font-size: 12px;
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 43px;
    top: 10px;
}


.cart-icon {
    color: #3A4895;
    font-size: 1.5em;
}