.cart-item-container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-top: 1px solid lightgrey;
}

.cart-item-details{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.cart-item-details p{
    margin-left: 30px;
}

.cart-item-data{
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-right: 35px;
}

@media (max-width: 600px){
    .cart-item-container, .cart-item-details, .cart-item-data{
        flex-direction: column;
        align-items: center;
    }

    .cart-item-data{
       margin: auto;
    }

    img{
        padding-bottom: 10px;
    }
    .trash{
        text-align: right;
        margin-right: -100px;
    }
}