.details-page{
    height: 100vh;
    
}

.product-container{
    background-color: #FFF;
    width: 80%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    padding: 80px;

}

.product-container img{
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
    margin: auto;
}

.product-info{
    margin-left: 100px;
    width: 50%;
}

h2 {
    padding-bottom: 30px;
}

h3, p{
    padding-bottom: 10px;
}

.product-info button{
    background-color: #FFD814;
    font-weight: 700;
    width: 160px;
    padding: 10px 0px;
    border: none;
    color: #000;
}

@media (max-width: 750px){
    .product-container{
        flex-direction: column;
        height: 90%;
        padding: 80px 0;
    }

    .product-container img{
        margin: 0px auto 30px auto;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    h2{
        font-size: 18px;
    }

    h3{
        font-size: 14px;
    }

    p{
        font-size: 12px;
    }

    .product-info{
        margin: auto;
    }

    .product-info button{
        width: 100px;
    }
}
