.homepage-container{
    min-height: 100vh;
    background-color: #FAFAFA;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #FAFAFA;
    justify-content: center;
}

.categories-container{
    display: flex;
    justify-content: center;
    margin: 30px 0px -50px 0px;
}

.categories-container a{
    color: #5264C3;
    font-size: 20px;
}