.homepage-container{
    min-height: 100vh;
    background-color: #FAFAFA;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #FAFAFA;
    justify-content: center;
    text-transform: capitalize;
}

